.composer {
    border-radius: 5px;
    border: 1px solid @borders;
    margin: 10px;
}

.composer--focused {
    border: 2px solid @theme_selected_bg_color;
    margin: 9px;
}

.composer__completions {
    background-color: inherit;
}

.composer__completions > row {
    padding: 5px 10px;
}

.composer__completions image {
    padding-right: 5px;
}

.composer__completions_title {
    font-weight: bold;
    padding: 5px 10px;
}

.composer__entry {
    padding: 10px;
}

.composer__emoji_button {
    color: shade(@theme_fg_color, 2);
    font-size: 110%;
    margin: 0 10px;
}
