.sidebar_row {
    padding: 5px 10px;
}

.sidebar_row--unread {
    font-weight: bold;
}

.sidebar_row__icon {
    color: shade(@theme_fg_color, 2);
    margin-right: 5px;
}

.sidebar_row:selected .sidebar_row__icon {
    color: inherit;
}
